*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.container {
  max-width: 1144px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* line-height: 24px; */
  color: #544837;
}

.title {
  color: #2f281e;
}

.header {
  padding-bottom: 25px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.menu {
  margin-left: auto;
}

.menu-list {
  display: flex;
  gap: 24px;
}

/* .menu-list-item + .menu-list-item {
margin-left: 24px;
} */

.menu-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #2f281e;
}

.user-nav {
  margin: 0 13px 0 52px;
}

.user-nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  padding: 11px 23px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.user-nav-link + .user-nav-link {
  margin-left: 14px;
  color: #fff;
  background-color: #f90;
  border: transparent;
}

.top {
  padding-top: 25px;
  padding-bottom: 55px;
}

.top-inner {
  padding: 88px 0;
  background-image: url('../images/top-bg.svg');
  background-size: 603px 495px;
  background-repeat: no-repeat;
  background-position: center right;
}

.top-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  max-width: 518px;
  margin-bottom: 30px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 458px;
  margin-bottom: 45px;
}

.top-btn {
  display: inline-block;
  /* font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; */
  color: #fff;
  padding: 15px 41px 14px;
  border: none;
  border-radius: 4px;
  background-color: #f90;
  margin-right: 30px;
}

.top-link {
  display: inline-block;
  font-weight: 600;
  text-decoration: underline;
  color: #f90;
  padding-left: 28px;
  position: relative;
}

.top-link::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 19px;
  background-image: url('../images/top-play-icon.svg');
  background-repeat: no-repeat;
  left: 0;
  top: 3px;
}

.tools {
  padding-top: 55px;
  padding-bottom: 60px;
}

.tools-title {
  text-align: center;
  max-width: 539px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin: 0 auto 46px;
  padding: 0 10px;
}

.tools-inner {
  padding-bottom: 90px;
  background-image: url('../images/tools-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.tools-items {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0 13px;
  margin-bottom: 34px;
}

.tools-item {
  width: 240px;
}

.tools-item-img {
  margin-bottom: 30px;
}

.tools-item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 13px;
}

.tools-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  background-color: #f90;
  padding: 15px 33px 14px;
  border-radius: 4px;
  display: block;
  width: 175px;
  margin: 0 auto;
}

.direction {
  padding: 60px 0 80px;
}

.direction-item {
  display: flex;
  justify-content: space-between;
}

.direction-item + .direction-item {
  margin-top: 100px;
}

.direction-item-content {
  padding: 26px 0 17px;
  max-width: 486px;
}

.direction-item-pretitle {
  padding-bottom: 3px;
}

.direction-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 22px;
}

.direction-item-title-text {
  margin-bottom: 30px;
}

.direction-item-text:not(:last-child) {
  margin-bottom: 25px;
}

.direction-item-subtitle {
  font-weight: 700;
  margin-bottom: 12px;
}

.direction-list-item {
  padding-left: 65px;
  position: relative;
}

.direction-list-item::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url('../images/direction-icon.svg');
  left: 0;
  top: 10px;
}

.direction-list-item + .direction-list-item {
  margin-top: 30px;
}

.team {
  padding: 80px 0 15px;
  background-image: url('../images/team-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 80px center;
}

.team-inner {
  padding: 230px 0 380px;
  /* background-image: url('../images/team-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; */
  position: relative;
}

.team-item {
  position: absolute;
  width: 98px;
  height: 98px;
}

.team-item-1 {
  right: 95px;
  top: 157px;
}

.team-item-2 {
  left: 0;
  top: 223px;
}

.team-item-3 {
  right: 0;
  bottom: 257px;
}

.team-item-4 {
  left: 210px;
  bottom: 233px;
}

.team-item-5 {
  right: 364px;
  bottom: 135px;
}

.team-box {
  max-width: 542px;
  text-align: center;
  margin: 0 auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 22px;
}

.team-text {
  color: #567592;
  margin-bottom: 45px;
}

.team-btn {
  color: #fff;
  padding: 15px 30px 14px;
  border: none;
  border-radius: 4px;
  background-color: #f90;
}

.team-item-img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.team-item-text {
  background-color: #fff;
  padding: 14px 20px 15px;
  color: #2f281e;
  box-shadow: 0 2px 8px 0 rgba(86, 117, 146, 0.1);
  border-radius: 26px;
  white-space: nowrap;
  position: absolute;
  right: 60px;
  top: -41px;
}

.team-item-text.team-item-text-left {
  right: auto;
  left: 57px;
  top: -41px;
}

.team-item-text-right::after,
.team-item-text-right::before,
.team-item-text-left::after,
.team-item-text-left::before {
  content: '';
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

.team-item-text-right::after,
.team-item-text-left::after {
  width: 17px;
  height: 17px;
  bottom: -5px;
  right: 35px;
}

.team-item-text-right::before,
.team-item-text-left::before {
  width: 9px;
  height: 9px;
  bottom: -17px;
  right: 17px;
}

.team-item-text-left::after {
  left: 35px;
  right: auto;
}

.team-item-text-left::before {
  left: 17px;
  right: auto;
}

.blog {
  padding: 15px 0 60px;
}

.blog-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 9px;
}

.blog-text {
  margin-bottom: 55px;
}
